.App {
  text-align: center;
}

/* .App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */

.id-container {
  display: flex;
  flex-direction: row;
  line-height: 0.4em;
  display: flex;
  border: solid 2px rgb(189, 188, 188);
  padding: 10px;
  margin: 10px;
}
.subtitle {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 5px;
  margin: 5px;
}

.randomNum {
  flex-direction: row;
  line-height: 0.4em;
  display: flex;
  border: solid 2px rgb(189, 188, 188);
  padding: 10px;
  margin: 10px;
}

.filipe {
  flex-direction:column;
  line-height: 0.4em;
  display: inline-block;
  border: solid 2px rgb(189, 188, 188);
  padding: 10px;
  margin: 10px;

}

.NumberTable {
  display: flex;
  margin: 0;
}

.NumberTable > li {
  display: flex;
  list-style-type: none;
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  align-content: center;
}